#outer {height: 100%; overflow: hidden; position: relative;}
#outer[id] {display: table; position: static;}

#middle {position: absolute; top: 35%;} /* For explorer only*/
#middle[id] {display: table-cell; vertical-align: middle; width: 100%;}

#inner {position: relative; top: -35%} /* For explorer only */
/* Optional: #inner[id] {position: static;} */

table {
	margin: auto
}
